In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-05 20:32:57,3.0707,172.7902,81.30,81,54,16.93
1,1,Tasiilaq,GL,2022-04-05 20:32:57,65.6145,-37.6368,24.96,95,45,5.88
2,2,Ushuaia,AR,2022-04-05 20:32:58,-54.8000,-68.3000,40.62,87,75,27.63
3,3,Atuona,PF,2022-04-05 20:32:58,-9.8000,-139.0333,79.65,70,3,23.47
4,4,Vaini,TO,2022-04-05 20:32:58,-21.2000,-175.2000,80.76,78,40,0.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-04-05 20:32:57,3.0707,172.7902,81.30,81,54,16.93
3,3,Atuona,PF,2022-04-05 20:32:58,-9.8000,-139.0333,79.65,70,3,23.47
4,4,Vaini,TO,2022-04-05 20:32:58,-21.2000,-175.2000,80.76,78,40,0.00
5,5,Itoman,JP,2022-04-05 20:32:59,26.1247,127.6694,66.22,62,100,11.50
8,8,Sao Filipe,CV,2022-04-05 20:33:00,14.8961,-24.4956,71.29,73,6,9.62
18,18,Rikitea,PF,2022-04-05 20:33:03,-23.1203,-134.9692,78.78,68,49,19.37
20,20,Sehithwa,BW,2022-04-05 20:33:03,-20.4667,22.7167,77.92,50,92,1.63
22,22,Limulunga,ZM,2022-04-05 20:33:04,-15.0969,23.1376,69.60,85,76,4.74
23,23,Puerto Ayora,EC,2022-04-05 20:30:54,-0.7393,-90.3518,85.96,87,52,5.01
28,28,Hithadhoo,MV,2022-04-05 20:33:06,-0.6000,73.0833,82.65,66,54,4.27

In [13]:
preferred_cities_df.count()

City_ID       243
City          243
Country       242
Date          243
Lat           243
Lng           243
Max Temp      243
Humidity      243
Cloudiness    243
Wind Speed    243
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Butaritari      KI     81.30   3.0707  172.7902
3         Atuona      PF     79.65  -9.8000 -139.0333
4          Vaini      TO     80.76 -21.2000 -175.2000
5         Itoman      JP     66.22  26.1247  127.6694
8     Sao Filipe      CV     71.29  14.8961  -24.4956
18       Rikitea      PF     78.78 -23.1203 -134.9692
20      Sehithwa      BW     77.92 -20.4667   22.7167
22     Limulunga      ZM     69.60 -15.0969   23.1376
23  Puerto Ayora      EC     85.96  -0.7393  -90.3518
28     Hithadhoo      MV     82.65  -0.6000   73.0833

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,81.30,3.0707,172.7902,Isles Sunset Lodge
3,Atuona,PF,79.65,-9.8000,-139.0333,Villa Enata
4,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
5,Itoman,JP,66.22,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
8,Sao Filipe,CV,71.29,14.8961,-24.4956,Hotel Xaguate
18,Rikitea,PF,78.78,-23.1203,-134.9692,People ThankYou
20,Sehithwa,BW,77.92,-20.4667,22.7167,MONLEK GUEST HOUSE
22,Limulunga,ZM,69.60,-15.0969,23.1376,Acamms Gardens
23,Puerto Ayora,EC,85.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
28,Hithadhoo,MV,82.65,-0.6000,73.0833,Scoop Guest House

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))